        </div>
      </div>
    </div>

    <div class="container">    
      <footer id="footer">
            &copy; 2014 Hexedit Reality
      </footer>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/static/js/cubism.v1.min.js"></script>
<script type="text/javascript" src="/static/js/seriesism.js"></script>
<script type="text/javascript" src="/static/js/series.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
  findOutside('#outside');
  findInside('#inside');
});
</script>

    {{ template "chrome/analytics.html" . }}
  </body>

</html>
